<div class="form-group">
  <%= f.label :name, "Name", class: "form-label" %>
  <%= f.text_field :name, class: "form-input" %>
</div>

<div class="form-group">
  <%= f.label :plan, "Plan", class: "form-label" %>
  <label class="form-radio">
    <%= f.radio_button :plan, "Alpha" %>
    <i class="form-icon"></i> Alpha
  </label>
  <label class="form-radio">
    <%= f.radio_button :plan, "Beta" %>
    <i class="form-icon"></i> Beta
  </label>
</div>

<div class="form-group">
  <%= f.label :gender, "Gender", class: "form-label" %>
  <%= f.select :gender, [ [ "Male", "male" ], [ "Female", "female" ] ], { include_blank: true }, class: "form-select" %>
</div>

<div class="form-group">
  <label class="form-checkbox">
    <%= f.check_box :confirmed %>
    <i class="form-icon"></i> Confirmed
  </label>
</div>

<div class="form-group">
  <label class="form-checkbox">
    <%= f.check_box :approved %>
    <i class="form-icon"></i> Approved
  </label>
</div>

<div class="form-group">
  <%= f.label :remarks, "Remarks", class: "form-label" %>
  <%= f.text_area :remarks, class: "form-input" %>
</div>

<div v-cloak class="form-group">
  <div class="btn-group btn-group-block">
    <button class="btn" @click.prevent="open = true" :class="{ active: open }">Show</button>
    <button class="btn" @click.prevent="open = false" :class="{ active: !open }">Hide</button>
  </div>
  <pre v-if="open" class="code" data-lang="Vuejs data"><code>customer.name = "{{customer.name}}"
customer.plan = "{{customer.plan}}"
customer.gender = {{customer.gender}}
customer.confirmed = {{customer.confirmed}}
customer.approved = {{customer.approved}}
customer.remarks = "{{customer.remarks}}"
open = "{{open}}"</code></pre>
</div>
