<%
  metadata = {
    "title" => "List of customers",
    "handler" => "index",
    "url" => "#customers"
  }

  def new_link
    templatePath = new_api_customer_path
    url = "#customers/new"
    content_tag(:span, "New customer",
      "@click" => "visit('#{templatePath}')".html_safe)
  end

  def edit_link(customer)
    templatePath = edit_api_customer_path(customer)
    url = "#customers/#{customer.id}/edit"
    content_tag(:span, "Edit",
      "@click" => "visit('#{templatePath}')".html_safe)
  end
%>
<div data-meta='<%= metadata.to_json %>'>
  <div>
    <%= new_link %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Plan</th>
        <th>Gender</th>
        <th>Confirmed</th>
        <th>Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.plan %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.confirmed? %></td>
        <td><%= customer.approved? %></td>
        <td><%= edit_link(customer) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
