<div>
  <div>
    <span @click="visit('/api/customers/new')">New customer</span>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Plan</th>
        <th>Gender</th>
        <th>Confirmed</th>
        <th>Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.plan %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.confirmed? %></td>
        <td><%= customer.approved? %></td>
        <td>
          <span @click="visit('<%= edit_api_customer_path(customer) %>')">Edit</span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
