<div data-title="List of customers" data-extension="index"
  data-url="#customers">
  <div>
    <%= link_to "New customer", :new_api_customer, "@click.prevent" => "visit" %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Plan</th>
        <th>Gender</th>
        <th>Confirmed</th>
        <th>Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.plan %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.confirmed? %></td>
        <td><%= customer.approved? %></td>
        <td><%= link_to "Edit", [ :edit, :api, customer ],
          "@click.prevent" => "visit" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
