<div class="form-group">
  <%= f.label :name, class: "form-label" do %>
    Name <vue-counter v-model="customer.name" high="30" max="40"></vue-counter>
  <% end %>
  <%= f.text_field :name, class: "form-input" %>
  <vue-counter v-bind:value="customer.name" max="50"></vue-counter>
</div>

<div class="form-group">
  <%= f.label :plan, "Plan", class: "form-label" %>
  <label class="form-radio">
    <%= f.radio_button :plan, "Alpha" %>
    <i class="form-icon"></i> Alpha
  </label>
  <label class="form-radio">
    <%= f.radio_button :plan, "Beta" %>
    <i class="form-icon"></i> Beta
  </label>
</div>

<div class="form-group">
  <%= f.label :gender, "Gender", class: "form-label" %>
  <%= f.select :gender, [ [ "Male", "male" ], [ "Female", "female" ] ], { include_blank: true }, class: "form-select" %>
</div>

<div class="form-group">
  <%= f.label :phones, "Phones", class: "form-label" %>
  <ol>
    <%= f.fields_for :phones do |pf| %>
      <li>
        <%= pf.text_field :number, class: "form-input d-inline",
          style: "width: 50%; margin-right: 40px",
          disabled: pf.vue_prefix + "._destroy" %>
        <label class="form-checkbox">
          <%= pf.check_box :primary,
            disabled: pf.vue_prefix + "._destroy" %>
          <i class="form-icon"></i> Primary
        </label>
        <% if pf.object.persisted? %>
          <label class="form-checkbox">
            <%= pf.check_box :_destroy %>
            <i class="form-icon"></i> Delete
          </label>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>

<div class="form-group">
  <label class="form-checkbox">
    <%= f.check_box :confirmed %>
    <i class="form-icon"></i> Confirmed
  </label>
</div>

<div class="form-group">
  <label class="form-checkbox">
    <%= f.check_box :approved %>
    <i class="form-icon"></i> Approved
  </label>
</div>

<div class="form-group">
  <%= f.label :remarks, class: "form-label" do %>
    Remarks <vue-counter v-model="customer.remarks"></vue-counter>
  <% end %>
  <%= f.text_area :remarks, class: "form-input" %>
</div>

<div class="form-group">
  <%= f.label :avatar, class: "form-label" %>
  <%= f.file_field :avatar, class: "form-input", disabled: "customer.plan === 'Alpha'" %>
</div>

<div v-cloak class="form-group">
  <pre v-if="open" class="code" data-lang="Vuejs data"><code>customer.name = "{{customer.name}}"
customer.plan = "{{customer.plan}}"
customer.gender = {{customer.gender}}
customer.phones_attributes = {{customer.phones_attributes}}
customer.confirmed = {{customer.confirmed}}
customer.approved = {{customer.approved}}
customer.remarks = "{{customer.remarks}}"</code></pre>
</div>
