<div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :plan, "Plan" %>
  <label>
    <%= f.radio_button :plan, "A" %> A
  </label>
  <label>
    <%= f.radio_button :plan, "B" %> B
  </label>
</div>
<div>
  <%= f.label :gender, "Gender" %>
  <%= f.select :gender, [ [ "Male", "male" ], [ "Female", "female" ] ],
    include_blank: true %>
</div>
<div>
  <label>
    <%= f.check_box :confirmed %> Confirmed
  </label>
  <label>
    <%= f.check_box :approved %> Approved
  </label>
</div>
<div>
  <%= f.label :remarks, "Remarks" %>
  <%= f.text_area :remarks %>
</div>
<div v-cloak style="border: solid 1px black; padding: 10px; margin: 10px">
  <button type="button" @click="open = true" v-if="!open">Show Vue component data</button>
  <button type="button" @click="open = false" v-if="open">Hide</button>
  <div v-if="open">
      <div>customer.name = "{{customer.name}}"</div>
      <div>customer.plan = "{{customer.plan}}"</div>
      <div>customer.gender = {{customer.gender}}</div>
      <div>customer.confirmed = {{customer.confirmed}}</div>
      <div>customer.approved = {{customer.approved}}</div>
      <div>customer.remarks = "{{customer.remarks}}"</div>
      <div>open = "{{open}}"</div>
  </div>
</div>
