<div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>
<div>
  <label>
    <%= f.check_box :confirmed %> Confirmed
  </label>
  <label>
    <%= f.check_box :approved %> Approved
  </label>
</div>
<div>
  <%= f.label :remarks, "Remarks" %>
  <%= f.text_area :remarks %>
</div>
