<h1>Form for an existing customer</h1>

<div>
  <%= link_to "List of customers", :customers %>
</div>

<%= vue_form_for @customer, html: { id: "customer-form" } do |f| %>
  <%= render "fields", f: f %>
  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= javascript_pack_tag 'customers/fields' %>
