<h1>Form for new customer</h1>

<div>
  <%= link_to "List of customers", :customers %>
</div>

<%= vue_form_with model: @customer, id: "customer-form" do |f| %>
  <%= render "fields", f: f %>
  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= javascript_pack_tag 'customers/fields' %>
